/UIWindowAssetViewer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/UIWindowAssetViewer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/UIWindowAssetViewer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/UIWindowAssetViewer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/UIWindowAssetViewer/obj/Debug/UIWindow.Properties.Resources.resources
/UIWindowAssetViewer/obj/Debug/UIWindow.UIWindow.resources
/UIWindowAssetViewer/obj/Debug/UIWindowAssetViewer.csproj.FileListAbsolute.txt
/UIWindowAssetViewer/obj/Debug/UIWindowAssetViewer.csproj.GenerateResource.Cache
/UIWindowAssetViewer/obj/Debug/UIWindowAssetViewer.csprojResolveAssemblyReference.cache
/UIWindowAssetViewer/obj/Debug/UIWindowAssetViewer.exe
/UIWindowAssetViewer/obj/Debug/UIWindowAssetViewer.pdb
/UIWindowSynth/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/UIWindowSynth/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/UIWindowSynth/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/UIWindowSynth/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/UIWindowSynth/obj/Debug/UIWindow.Properties.Resources.resources
/UIWindowSynth/obj/Debug/UIWindow.UIWindow.resources
/UIWindowSynth/obj/Debug/UIWindowSynth.csproj.FileListAbsolute.txt
/UIWindowSynth/obj/Debug/UIWindowSynth.csproj.GenerateResource.Cache
/UIWindowSynth/obj/Debug/UIWindowSynth.csprojResolveAssemblyReference.cache
/UIWindowSynth/obj/Debug/UIWindowSynth.exe
/UIWindowSynth/obj/Debug/UIWindowSynth.pdb
/assetViewer/x64/Debug/agentMode.obj
/assetViewer/x64/Debug/assetManager.obj
/assetViewer/x64/Debug/assetRenderer.obj
/assetViewer/x64/Debug/assetViewer.log
/assetViewer/x64/Debug/assetViewer.pch
/assetViewer/x64/Debug/assetViewer.tlog/CL.read.1.tlog
/assetViewer/x64/Debug/assetViewer.tlog/CL.write.1.tlog
/assetViewer/x64/Debug/assetViewer.tlog/assetViewer.lastbuildstate
/assetViewer/x64/Debug/assetViewer.tlog/assetViewer.write.1u.tlog
/assetViewer/x64/Debug/assetViewer.tlog/cl.command.1.tlog
/assetViewer/x64/Debug/assetViewer.tlog/link.command.1.tlog
/assetViewer/x64/Debug/assetViewer.tlog/link.read.1.tlog
/assetViewer/x64/Debug/assetViewer.tlog/link.write.1.tlog
/assetViewer/x64/Debug/assetViewer.vcxprojResolveAssemblyReference.cache
/assetViewer/x64/Debug/eventMap.obj
/assetViewer/x64/Debug/interactionMapMode.obj
/assetViewer/x64/Debug/mLibSource.obj
/assetViewer/x64/Debug/main.obj
/assetViewer/x64/Debug/resultsMode.obj
/assetViewer/x64/Debug/scanMode.obj
/assetViewer/x64/Debug/scoreMode.obj
/assetViewer/x64/Debug/vc120.idb
/assetViewer/x64/Debug/vc120.pdb
/assetViewer/x64/Debug/vizzer.obj
/bin/Debug/assetViewer.exe
/bin/Debug/assetViewer.exp
/bin/Debug/assetViewer.ilk
/bin/Debug/assetViewer.lib
/bin/Debug/assetViewer.pdb
/bin/Debug/libsynth.lib
/bin/Debug/synthesis.exe
/bin/Debug/synthesis.exp
/bin/Debug/synthesis.ilk
/bin/Debug/synthesis.lib
/bin/Debug/synthesis.pdb
/bin/UIWindowAssetViewer.exe
/bin/UIWindowAssetViewer.exe.config
/bin/UIWindowAssetViewer.pdb
/bin/UIWindowSynth.exe
/bin/UIWindowSynth.exe.config
/bin/UIWindowSynth.pdb
/ipch/assetviewer-ac7a5894/assetviewer-da11c11c.ipch
/ipch/libsynth-6926496a/libsynth-87dd08d7.ipch
/libsynth/x64/Debug/HTMLExporter.obj
/libsynth/x64/Debug/PBRTUtil.obj
/libsynth/x64/Debug/POVRayUtil.obj
/libsynth/x64/Debug/activity.obj
/libsynth/x64/Debug/activityDatabase.obj
/libsynth/x64/Debug/agent.obj
/libsynth/x64/Debug/agentGroupDistribution.obj
/libsynth/x64/Debug/category.obj
/libsynth/x64/Debug/categoryDatabase.obj
/libsynth/x64/Debug/columnRepresentation.obj
/libsynth/x64/Debug/database.obj
/libsynth/x64/Debug/distribution.obj
/libsynth/x64/Debug/interactionMap.obj
/libsynth/x64/Debug/interactionMapDatabase.obj
/libsynth/x64/Debug/libsynth.log
/libsynth/x64/Debug/libsynth.obj
/libsynth/x64/Debug/libsynth.pch
/libsynth/x64/Debug/libsynth.tlog/CL.read.1.tlog
/libsynth/x64/Debug/libsynth.tlog/CL.write.1.tlog
/libsynth/x64/Debug/libsynth.tlog/Lib-link.read.1.tlog
/libsynth/x64/Debug/libsynth.tlog/Lib-link.write.1.tlog
/libsynth/x64/Debug/libsynth.tlog/cl.command.1.tlog
/libsynth/x64/Debug/libsynth.tlog/lib.command.1.tlog
/libsynth/x64/Debug/libsynth.tlog/libsynth.lastbuildstate
/libsynth/x64/Debug/meshSegment.obj
/libsynth/x64/Debug/model.obj
/libsynth/x64/Debug/modelDatabase.obj
/libsynth/x64/Debug/modelInstance.obj
/libsynth/x64/Debug/objectGroupDistribution.obj
/libsynth/x64/Debug/salientSegmentor.obj
/libsynth/x64/Debug/scan.obj
/libsynth/x64/Debug/scanDatabase.obj
/libsynth/x64/Debug/scanLocator.obj
/libsynth/x64/Debug/scene.obj
/libsynth/x64/Debug/sceneDatabase.obj
/libsynth/x64/Debug/sceneTemplate.obj
/libsynth/x64/Debug/segmentor.obj
/libsynth/x64/Debug/serialization.obj
/libsynth/x64/Debug/synthUtil.obj
/libsynth/x64/Debug/synthesizerScan.obj
/libsynth/x64/Debug/util.obj
/libsynth/x64/Debug/vc120.idb
/libsynth/x64/Debug/vc120.pdb
/synth.opensdf
/synth.sdf
/synth.v12.suo
/synthesis/x64/Debug/assetManager.obj
/synthesis/x64/Debug/assetRenderer.obj
/synthesis/x64/Debug/eventMap.obj
/synthesis/x64/Debug/fieldMode.obj
/synthesis/x64/Debug/mLibSource.obj
/synthesis/x64/Debug/main.obj
/synthesis/x64/Debug/synthesis.log
/synthesis/x64/Debug/synthesis.pch
/synthesis/x64/Debug/synthesis.tlog/CL.read.1.tlog
/synthesis/x64/Debug/synthesis.tlog/CL.write.1.tlog
/synthesis/x64/Debug/synthesis.tlog/cl.command.1.tlog
/synthesis/x64/Debug/synthesis.tlog/link.command.1.tlog
/synthesis/x64/Debug/synthesis.tlog/link.read.1.tlog
/synthesis/x64/Debug/synthesis.tlog/link.write.1.tlog
/synthesis/x64/Debug/synthesis.tlog/synthesis.lastbuildstate
/synthesis/x64/Debug/synthesis.tlog/synthesis.write.1u.tlog
/synthesis/x64/Debug/synthesis.vcxprojResolveAssemblyReference.cache
/synthesis/x64/Debug/vc120.idb
/synthesis/x64/Debug/vc120.pdb
/synthesis/x64/Debug/vizzer.obj
